.border {
    border-bottom: 1px solid;
    border-color: var(--primary-shade);
}
.dotBorder {
    display: flex;
    width: 100%;

}
.dotBorder::after {
    border-bottom: 2px dotted var(--primary-color);
    content: '';
    flex: 1;
    margin: 0 2px 6px 2px;
}

